.container-pokedex{
    /* border: solid 3px blue; */
    height: 620px;
}
.idpokemon{
    color: #484b4b; 
    font-size: 40px;
    
}
.botones{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: 50px;
    font-size: 24px;

}
.Anterior{
    background-color: rgb(38, 38, 172);
    padding: 10px;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    margin: 0px 50px;
    border-radius: 10px;
    text-decoration: none;

}
.Siguiente{
    background-color: rgb(38, 38, 172);
    padding: 10px;
    color: white;
    cursor: pointer;
    margin: 0px 50px;
    font-family: sans-serif;
    border-radius: 10px;
    text-decoration: none;
}
.elementoRayo{

 } 
.Siguiente:hover{
    background-color: aqua;
    color: black;

}
.Anterior:hover{
    background-color: aqua;
    color: black;
}
.name2{
    font-size: 70px;
    text-align: center;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: rgba(191, 194, 32, 0.938); 
}
.name{
    font-size: 70px;
    text-align: center;
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: rgba(184, 90, 13, 0.938); 
}
.parrafopokemon{
    font-family: sans-serif;
    color: #616464;
    font-weight: bold;
    font-size: 19px;
}
.Debilidad{
    font-weight: bold;
    color: #0a0a0a;
    font-size: 40px;
}
.contenedorpokemon{
    /* background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%); */
    background-color: #d0d8d8;
    border-radius: 10px;
    
}
.Carsteristicas{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
    padding: 5px;
    border-radius: 10px;
    /* width: auto; */
}
.Carasteristicas{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    /* margin: 10px; */

}
.p{
font-weight: bold;
color: rgb(7, 7, 6);
}
.planta{
   font-size: 20px;
    margin: -10px;
    color: rgb(27, 160, 10);
    font-weight: bold;
    border-radius: 50px;
    font-family: sans-serif;
   
}
.agua{
    font-size: 20px;
 margin: -10px;
    color: rgb(7, 31, 165);
    font-weight: bold;
    
    font-family: sans-serif;
    
}
.agua1{ 
    width: 100px;
    background-color: rgb(18, 37, 211);
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
} 
.fuego{
  margin: -10px;
 
    color: rgb(219, 127, 41);
    font-weight: bold;
   
    font-family: sans-serif;
  
}

.containerCarsteristicas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.evoluciones{
       
    display: flex; 
    justify-content: space-around;

    
    flex-wrap: wrap;
   
}
.tipo{
    display: flex;
    justify-content: space-around;
}
.evolucion{
     /* margin: 50px;  */
     background-color: #304df3;
    /* border: solid 3px black; */
    height: 500px;
    border-radius: 30px;
}
.imgevolucionado{
    border:solid white 7px;
    width: 250px;
    background-color: rgb(130, 210, 212);
    border-radius: 100%;
    padding: 30px;
  
}
.elementoAgua{
    width: 100px;
    background-color: rgb(94, 198, 224);
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
}
.elementoAgua:hover{
    background-color: #0093E9;
}
.elemento:hover{
    background-color: orange;
}
.elemento{
    width: 70px;
    background-color: rgb(221, 96, 23);
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
}
.nameEvolucionado{
    color: white;
    font-family: sans-serif;
}
.idEvolucionado{
    color: #171818;
    font-size: 20px;
}
.evolucionado{
 margin: 20px;
 /* border: solid 3px black; */

 /* background-color: rgb(145, 141, 137);
 border-radius: 100%; */
}
.bi{
    margin: 25px;
    font-size: 40px;
}
/* title */
.titleEvoluciones{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 60px;
    text-align: start;
    margin: 30px;
}
.titleAgua{
    color: rgb(50, 50, 185);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
@media (max-width: 600px) {
   .titleEvoluciones{
    font-size: 40PX;
    margin: 20px;
   }
  
    /* .elemento{
     margin: 0px 20px;
     
    } */
    .container-pokedex{
        margin: 0px 0px 450px;
    }
    .evoluciones{
        display: flex;
        justify-content: space-between;

       
     

    }
    .evolucionado{
        margin: 10px -11px;
        height: 10PX;
        
    }*/
    .evolucion{
        width: 420px;
        height: 20PX;
        margin: 20px -20px;
        
    } 
    .imgevolucionado{
        width: 120px;
        
        padding: 14px;
        border: solid 3px white;
    }
    .imgpokemon{
        width: 300px;
       
        margin: 0px ;
    }
    .fuego{
        font-size: 20px;
        text-align: center;
    }
    .agua{
        font-size: 20px;
        text-align: center;
        
    }
    .planta{
        text-align: center;
        font-size: 20px;
    }
    .Debilidad{
        color: #6b6e6e;
        font-size: 25px;
        text-align: center;
        margin: 20px;
        
    }
    .idEvolucionado{
        margin: 0px 10px;
    }
    .nameEvolucionado{
        font-size: 30px;
        font-weight: bold;
        margin: 0px 10px;
    }
  
}