.container-pokedex{
    border: solid 3px blue;
}
.evoluciones{
       
    display: flex; 
    justify-content: space-around;

    
    flex-wrap: wrap;
   
}
.evolucion{
     margin: 50px; 
    border: solid 3px black;
    height: 400px;
}
.evolucionado{
 margin: 100px;
 /* border: solid 3px black; */
}
.bi{
    margin: 25px;
    font-size: 40px;
}
/* title */
.titleAgua{
    color: rgb(50, 50, 185);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
@media (max-width: 600px) {
    /* .evoluciones{
        display: flex;
        justify-content: space-between;
    }
    .evolucionado{
        margin: 0px -50px;
    }*/
    .evolucion{
        width: 420px;
        height: auto;
        margin: 0px -25px;
    } 
  
}